@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');

body {
    padding-top: 50px;
    padding-bottom: 80px;
    font-family: "Oswald";
    font-size: 16px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

    .body-content.main {
        min-height: 90vh;
    }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.logo {
    width: 50px;
    height: 36px;
}

h1, h2, h3, h4, h5, .lead, .jumbrotron {
    font-family: "Roboto";
}

.nav-item .dropdown-item {
    font-size: 1rem;
}

.mission {
    font-size: 2.5rem;
}

    .mission p {
        font-size: 1.5rem;
    }

.services {
    font-size: 2.5rem;
}

    .services p {
        font-size: 1.5rem;
    }


#map {
    top: 0;
    bottom: 0;
    width: 100%;
    height: 600px;
    margin-bottom: 10px;
}

@media screen and (max-width: 450px) {
    #map {
        height: 300px;
        margin-bottom: 15px;
    }

    .mapboxgl-popup {
        font-size: .70rem;
        width: 120px;
    }

        .mapboxgl-popup.h3 {
            font-size: smaller;
        }

    .toggle-hidden {
        display: none;
    }

    .toggle-displayed {
        display: contents;
    }

    .mapbox-directions-component.mapbox-directions-inputs {
        display: none;
    }

    h2.jurassic {
        font-size: 3rem;
        font-family: Jurassic_Park;
    }

    h3.jurassic {
        font-size: 4rem;
        font-family: Jurassic_Park;
    }
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: rgba(0,0,0,4), 10px, 10px, inset;
}

.pet-avatar {
    max-width: 100px;
    max-height: 100px;
}

.push-right {
    margin-left: 16px;
}


.spaced {
    margin-left: 20px;
    margin-top: 20px;
}

.btn-spaced {
    margin-top: 20px;
}

@media screen and (min-width: 451px) {

    .toggle-displayed {
        display: none;
    }

    .toggle-hidden {
        display: contents;
    }

    .jurassic {
        font-size: 6rem;
        font-family: Jurassic_Park;
    }


    h3.jurassic {
        font-family: Jurassic_Park;
        font-size: 4rem;
    }
}

.footer {
    bottom: 0;
    margin-left: 20px;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
}

.jurassic {
    font-size: 6rem;
    font-family: Jurassic_Park;
}


h3.jurassic {
    font-family: Jurassic_Park;
    font-size: 4rem;
}


@font-face {
    font-family: 'Jurassic_Park';
    src: url('../fonts/Jurassic_Park.ttf') format('truetype');
}

.alert-message{
    height: auto;
}
