@{
    ViewBag.Title = "About Jurassic Bark";
}
<div class="jumbotron branded-logo">
    <img src=" ~/Content/images/jdp.png" class="img-responsive" />
    <img src="~/Content/images/tagline.png" class="img-responsive" />
</div>

<div class="row-fluid">

    <div class="col-md-12">
        <h3 class="mission">Mission</h3>
        <p>Jurassic Bark is a retreat for beloved family pets where they are cared for when their owners are away from home.</p>
    </div>
    <div class="col-md-12">
        <h3 class="services">Programs/Services</h3>
        <p>Jurassic Bark is multi-site pet daycare center that provides care for pets on a single day basis.</p>
    </div>
</div>